---
title: Manual Testing
weight: 3
---

# <%= current_page.data.title %>

<div id="main-content" class="wiki-content">
                           
        <h3 id="ManualTestingBestPractices-Anytestcasethatisnotsuitableforautomationtestingshouldbeincludedinmanualtestpack"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Any test case that is not suitable for automation testing should be included in manual test pack</h3><p>Any test that is not part of the unit, integration, contract or UI end to end automated tests must be included in the manual test pack. Some examples include, file downloads, captcha, visual testing elements, two factor authentication scenarios where&nbsp;</p><h3 id="ManualTestingBestPractices-RecordallyourmanualtestcasesinZephyrorsimilar"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Record all your manual test cases <span style="color: rgb(23,43,77);">in Zephyr or similar</span></h3><p><span style="color: rgb(23,43,77);">Record your test cases into Zephyr or similar tool. This way we can keep track of what can be tested for a release</span></p><h3 id="ManualTestingBestPractices-Makesuretoincludeallnecessaryelementswhenyouwriteyourtestcase"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span><span style="color: rgb(23,43,77);">Make sure to include all necessary elements when you write your test case</span></h3><p><span style="color: rgb(23,43,77);">Test case to include Test case id, test case description, test steps, test data, expected result, actual result and test status (Pass/ fail)</span></p><h3 id="ManualTestingBestPractices-TestDataPreparation"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span><span style="color: rgb(23,43,77);">Test Data Preparation</span></h3><p><span style="color: rgb(23,43,77);">With the automation tests we write the code to create and destroy the data that is required for the tests, but we do not have that luxury when it comes to manual testing, so it is important to create the test data appropriately to start.</span></p><h3 id="ManualTestingBestPractices-Don'tforgettoexecuteyourmanualtestsforeveryrelease"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span><span style="color: rgb(23,43,77);">Don't forget to execute your manual tests for every release</span></h3><p><span style="color: rgb(23,43,77);">It is often the case that automated tests will be part of the CI/CD pipeline and they will run automatically every time the the pipeline is triggered. We pay no or little attention to manual test case execution release.</span></p>

                
        
    
        </div>
