---
title: Testing on Power Platform
weight: 3
---

# <%= current_page.data.title %>

<div id="main-content" class="wiki-content">
                           
        <h3 style="text-align: left;" id="TestingbestpracticesforPowerPlatform-Identifyandtestpatternsandoutcomesofyourflows"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Identify and test patterns and outcomes of your flows</h3><p>After you've finished making your flows and automation, the next step is for you to test it. You should consider testing the patterns and outcomes of your flows. This is because your flow might not simply fail, it might run but produce unexpected results. Testing all patterns will reduce this risk.</p><p>Testing the automation each time you add a new step is the best way to ensure that you catch mistakes, rather than attempting to build the entire flow and then testing it.</p><h3 style="text-align: left;" id="TestingbestpracticesforPowerPlatform-Automatedendtoendtestsareveryimportant"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Automated end to end tests are very important</h3><p>Because the apps are developed via no-code, low-code solution, that means there will be no bottom level or middle layer tests, so we need to rely on top of the level tests and automating them is important to get the faster feedback for the developer.</p><h3 style="text-align: left;" id="TestingbestpracticesforPowerPlatform-Understandthebusinessprocess"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Understand the business process</h3><p><span>The primary goal of the test team should be to fully understand the newly automated process. This is one of the most important steps in the test cycle because it lays the foundation on which the other steps are built. The best way to understand the processes have conversations with business analysts and review the acceptance criteria in the Jira. Once the team understands the business process, it can move on to the next step, creating the test scenarios to test the code against the business rules.&nbsp;</span></p><p><span>Please use the testing techniques like Equivalence class partition, Boundary Value Analysis, state transition tables, decision tables and etc to derive the test scenarios.</span></p><h3 id="TestingbestpracticesforPowerPlatform-ShiftTestingtoLeft"><span class="handy-header aui-icon aui-icon-small aui-iconfont-link" title="Copy link"></span>Shift Testing to Left</h3><p>Testing should start as early as possible in the life cycle. It helps detect and reduce the number of bugs early, we can ensure a higher quality of code<span style="color: rgb(32,33,36);">. Besides that, your development team will save time and money by embracing testing in the early stages of software development.</span></p><p>Other best practices still apply, please see <a href="https://tools.hmcts.net/confluence/display/DATS/Testing+best+practices+for+frontend+applications" rel="nofollow">here</a></p><p><br></p><p><br></p>

                
        
    
        </div>
